<!DOCTYPE html>

<html>
  <head>
    <title>Instagram</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" type="text/css" href ="Ins.CSS">
  </head>
  <body>
    <div class="Menu">
      <button type="button" ><i class="material-icons">home</i></button>
      <button type="button" ><i class="material-icons">location_searching</i></button>
      <button type="button" ><i class="material-icons">photo_camera</i></button>
      <button type="button" ><i class="material-icons">person</i></button>
    </div><br>
    <div class="Card">
      <p>Santiago3532 22/04/2017</p>
      <img src="Everest.jpg" class="Imagen">
      <p>Monte Everest</p>
      <button type = "button"><i class="material-icons">favorite</i></buttom>
    </div>
  </body>
</html>
