.Menu button{
  height: 33px;
  width: 24.3%;
  color: white;
  background-color: rgb(0, 102, 255);
  border-color: rgb(15, 15 ,15);
  font-size: 24px;
}

.Card p{
  color: black;
}

.Card button{
  background-color: rgb(0,102, 255);
  color: white;
  border-color: rgb(15, 15 ,15)
}

.Card img{
  width: 50%;
  height: auto;
}
